### Site Settings ###
title               : Sejeong Park
description         : >-
                      안녕하세요! 저는 박세정입니다 :wave:
baseurl             : ""            # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : sj3218/sj3218.github.io      # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : yousinix/portfolYOU
open_new_tab        : false                    # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                            # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md


### Author Info ###
author:
  name              : 박세정
  image             : assets/selfie.jpg
  email             : phw3218@gmail.com
  github            : sj3218
  linkedin          : sejeong-park98
  youtube           : channel/UC0aolQcHL7h9EwI6psLpS2g


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /projects/:name

  personal:
    output: true
    permalink: /personal/:name


### Disqus ###
#disqus:
#  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: false                                        # Set true to enable analytics
  google:
    tracking_id: your-google-tracking-id


### Buy me a coffee ###
# See https://www.buymeacoffee.com/
#buymeacoffee:
#  enabled: false
#  username: your_username
#  color: "#007bff"
#  message: "Thank you for visiting."                    # Message to be displayed aside from the button for a few seconds.
#  description: "Support me on Buy me a coffee!"


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
